* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  cursor: none;
}

.header-top{
  background-color: #070a01;
  padding: 5px 0;
}
.jquerylog{
  filter: brightness(1) invert(0) !important;
  background-color: rebeccapurple;
  border: 2px solid pink !important;
}
.head1 {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.left{
  width: 70%;
  text-align: left;
}

.right{
  width: 30%;
  text-align: right;
}

.left a {
  text-decoration: none;
  color: white;
}
x
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
}

.nav-list li a img {
  width: 30px;
  height: 30px;
}

.button-48 {
  appearance: none;
  background-color: #070a01;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  z-index: 1;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  color: #070a01;
  z-index: -1;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);

}

.button-48:hover {
  color: black;
}

.button-48:after {
  background-color: #FFFFFF;
  color: black;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
.site-footer {
  background: #f1eeee;
  padding: 20px 0;
  font-size: 14px;
  color: #0c0101e2;
}

/* .images
{ height: 400px;} */

.image-about{
  width: 70%;
}

.card:hover{
  color: black;
  opacity: 30%;
  transition: 0.3s;

}
.scrolling-wrapper{
overflow-x: auto;
}
.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	height: 300px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	}
}



@media  screen and (max-width: 768px){
.right{
  width: 20%;
}
.left{
  width: 80%;
}


}

@media  screen and (max-width: 340px){
  .head1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
  }
}


